# LangChain Core
langchain
langchain-core
langchain-community
langchain-chroma

# OpenAI Integration
langchain-openai
openai

# Anthropic Integration
langchain-anthropic

# Google Gemini (PaLM) Integration
langchain-google-genai
google-generativeai

# Hugging Face Integration
langchain-huggingface
transformers
transformers[torch]
huggingface-hub
sentence-transformers
hf_xet

# Environment Variable Management
python-dotenv

# Machine Learning Utilities
numpy
scikit-learn
pandas

transformers
tqdm
gradio